@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
}

header {
	width: 100%;
  height: 10vh;
}

nav, section {
  float: left;
  height: 80vh;
}

nav {
  width: 20vw;
  margin-right: 10px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #3f4f5f;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  margin-bottom: 10px;
  border-radius: 20px;
}

header {
  padding: 20px 0;
}

.add_player_form {
  width: 100%;
}
.player_queue {
  width: 100%;
}
input, option, select {
  background-color: white;
  color: black;
  text-align: center;
}
.errorMessage {
  color: crimson;
  font-weight: bolder;
}
button {
    padding: 5px 5px;
    border: 0;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(-45deg, #BA55D3,#FFA07A);
    -webkit-background-clip: text;
    background: linear-gradient(-45deg, #BA55D3,#FFA07A);
    border-radius: 50lh;
}
button p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2f3f4f;
    color: white;
    border-radius: 50lh;
    font-weight: bold;
}

.computer {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 10%;
}
.computer_field {
  position: relative;
  width:100%;
}
.computer_name_container {
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  text-align: center;
  width: 3.5vw;
  height: 4vw;
  transform: translate(-1vw,-1.8vw);
}
.computer_name {
  color: navy;
  font-size: 1vw;
}
.computer_player_info_container {
  position: absolute;
  text-align: center;
  background-color: blue;
  border-radius: 1vh;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  transform: translate(-50%,75%);
}
.computer_player_info {
  font-size: 0.7vw;
  color: white;
}
.remove {
  position: absolute;
  transform: translate(100%,-150%);
  font-size: 0.5vw;
  height: 1.5vw;
  width: 1.5vw;
  min-width: 0;
  background-color: white;
  padding: 0.5vh;
}
.requeue {
  position: absolute;
  transform: translate(100%,0%);
  font-size: 0.5vw;
  height: 1.5vw;
  width: 1.5vw;
  min-width: 0;
  background-color: white;
  padding: 0.2vh;
}
.requeue img {
  max-width: 100%;
  max-height: 100%;
}
.remove img {
  max-width: 100%;
  max-height: 100%;
}
.sub_section {
    padding: 5px 5px;
    border: 0;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(-45deg, #203040, #3f4f5f);
    -webkit-background-clip: text;
    background: linear-gradient(-45deg, #203040, #3f4f5f);
    border-radius: 20px;
}
.sub_section div {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2f3f4f;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.tint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.tint.fade-in {
  opacity: 1;
}

.custom-alert {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease, opacity 0.5s ease;
  z-index: 1001;
}

.custom-alert.slide-in {
  top: 40%;
  opacity: 1;
}

button:hover {
  background-color: #0056b3;
}
