@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
}

header {
	width: 100%;
  height: 10vh;
}

nav, section {
  float: left;
  height: 80vh;
}

nav {
  width: 20vw;
  margin-right: 10px;
}

section {
  width: 50vw;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 20px;
}

header {
  padding: 20px 0;
}


/* nav, section {
  padding: 200px 0;
} */

.add_player_form {
  width: 100%;
  border-color: crimson;
  border-width: 5px;
  border-radius: 20px;
}
.player_queue {
  width: 100%;
  border-color: aqua;
  border-width: 5px;
  border-radius: 20px;
}
input, option, select {
  background-color: white;
  color: black;
  text-align: center;
}
.errorMessage {
  color: crimson;
  font-weight: bolder;
}
button {
  border-color: crimson;
  border-width: 3px;
  border-radius: 5px;
  min-width: 2vw;
}
.computer {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 10%;
}
.computer_field {
  position: relative;
}
.computer_name_container {
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  text-align: center;
  width: 3.5vw;
  height: 4vw;
  transform: translate(-1vw,-1.8vw);
}
.computer_name {
  color: navy;
  font-size: 1vw;
}
.computer_player_info_container {
  position: absolute;
  text-align: center;
  background-color: blue;
  border-radius: 1vh;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  transform: translate(-50%,75%);
}
.computer_player_info {
  font-size: 0.7vw;
  color: white;
}
.remove {
  position: absolute;
  transform: translate(100%,-150%);
  font-size: 0.5vw;
  height: 1.5vw;
  width: 1.5vw;
  min-width: 0;
  background-color: white;
  padding: 0.2vh;
}
.requeue {
  position: absolute;
  transform: translate(100%,0%);
  font-size: 0.5vw;
  height: 1.5vw;
  width: 1.5vw;
  min-width: 0;
  background-color: white;
  padding: 0.2vh;
}
.requeue img {
  max-width: 100%;
  max-height: 100%;
}
.remove img {
  max-width: 100%;
  max-height: 100%;
}